*

!doc
!doc/*.html
!doc/*.pdf

!src/
!src/*.h

!test/
!test/list
!test/list/*.c
!test/tree
!test/tree/*.c

!tex/
!tex/*.tex
!tex/*.pdf

!tool/
!tool/*.sh
!tool/*.tem.*

!LICENSE
!README.md
!.gitignore
!.gitattributes
